#version 3.7;
#include "colors.inc"
#include "stones1.inc"
#include "stones2.inc"
#include "textures.inc"

#declare RT=seed({{ seed }});
#declare R1=seed(1);
#declare WALL=0.125 + 0.250*rand(RT);
#declare HALL=1-2*WALL;
#declare HEIGHT=3+2*WALL+8*WALL*rand(RT);

#declare DefaultTexture=texture { pigment { White } };

background { color Black }
camera {
    right x*image_width/image_height // Square pixels
    location <7+7*rand(RT), 7+7*rand(RT), 7+7*rand(RT)>
    look_at  <3, 0, 3>
    rotate <-5+10*rand(R1), 0, 0>
    rotate <0, 0, -5+10*rand(R1)>
    rotate <0, 360*rand(R1), 0>
}

light_source {
    <-30, 200, 140>
#if (rand(RT) < 0.05)
    color White
#else
    color rgb <1-rand(RT)*rand(RT), 1-rand(RT)*rand(RT), 1-rand(RT)*rand(RT)>
#end
}

global_settings {
    assumed_gamma 1.0
    radiosity {
      pretrace_start 0.08
      pretrace_end   0.01
      count 150
      nearest_count 10
      error_bound 0.5
      recursion_limit 3
      low_error_factor 0.5
      gray_threshold 0.0
      minimum_reuse 0.005
      maximum_reuse 0.2
      brightness 1
      adc_bailout 0.005
    }
  }

#macro MakeBoulderBase(xd, yd)
    box {
        <-xd/2-WALL, -50, -yd/2-WALL>, <xd/2+WALL, HEIGHT, yd/2+WALL>
        rotate <0, 90, 0>
        texture { DefaultTexture }
    }
#end

#if (rand(RT) < 0.3)
plane { y, 0
    texture { DefaultTexture }
}
#end

{% for wall in walls -%}
    {%- set x0 = wall.rooms[0].x -%}
    {%- set x1 = wall.rooms[1].x -%}
    {%- if x1 < x0 -%}
        {%- set x0, x1 = x1, x0 -%}
    {%- endif -%}
    {%- set xc = (x1 + x0)/2 -%}
    {%- set xd = x1 - x0 -%}
    {%- set y0 = wall.rooms[0].y -%}
    {%- set y1 = wall.rooms[1].y -%}
    {%- if y1 < y0 -%}
        {%- set y0, y1 = y1, y0 -%}
    {%- endif -%}
    {%- set yd = y1 - y0 -%}
    {%- set yc = (y1 + y0)/2 -%}
    object {
        MakeBoulderBase({{ xd }}, {{ yd }})
        translate <+{{ xc }}, 0, +{{ yc }}>
        texture { DefaultTexture }
    }
{% endfor %}
